# Node dependencies
node_modules/

# Python virtual environment
venv/

# Terraform state and providers
.terraform/
*.tfstate
*.tfstate.backup

# Build outputs
dist

# Environment files
.env
.env.local
.env.*.local
/
